body{
  background-color: whitesmoke;
}

tr{
  cursor: pointer;
}

.exam-container{
  padding: 3.4rem;
}

.exam-container .form-group {
  margin: 1rem;
}

.overlay-mf {
  background-color: black;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
}

.header-text {
  color: white;
  font-weight: 300;
  text-shadow: blue 1px 1px 1px 1px;
  z-index: 1000;
  transform: translateY(4rem);
}

.buttons{
  z-index: 1000;
  transform: translateY(6rem);
}

.student-info{
  z-index: 1000;
  transform: translateY(4rem);
  padding-right: 20%;
  padding-left: 20%;
}

.form-group{
  margin-top: 2rem;
}

.table {
  background-color: whitesmoke;
}

.login-container{
  margin: 3rem;
  background-color: transparent;
  padding: 1.5rem;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 0px 3px 3px 3px;
  z-index: 1000;
  color: white;
}

.prompt-box {
  position: fixed;
  top: 30%;
  left: 35%;
  width: 370px;
  height: 200px;
  background-color: rgb(15, 15, 15);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgb(61, 61, 61) 4px 4px 4px 4px;
  cursor: pointer;
  z-index: 1000;
}

.answer-sheet{
  background-color: white;
  transform: translateY(4rem);
  padding: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
  max-height: 30rem;
  overflow-y: scroll;
  margin-bottom: 2rem;
}


.text-blurry{
  color: gray;
  opacity: 0.4;
}
/*Medium (md) devices (tablets, 768px and down) */
@media (max-width: 992px) { 
  .answer-sheet {
    max-height: 26rem;
  }
}

/*--Media Queries--*/
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large (xl) devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...}
*/