body{
  background-color: rgb(149, 150, 156);
  background-image: url(../images/post-3.jpg);
}

.question-type{
  margin-left:3rem;
  background-color: rgb(24, 25, 26);
  transform: translateY(2rem) translateX(0rem);
  width: fit-content;
  padding: .5rem 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.question-type p{
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.exam-container{
  margin: 3rem;
  background-color: white;
  padding: 1.5rem;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 0px 3px 3px 3px;
  z-index: 1000;
  color: white;
}

.question-number {
  font-size: 1.6rem;
  font-weight: bold;
}

.question-text {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shift{
  line-height: 2.5rem;
}

.form-group .text-center{
  line-height: 3.7rem;
}

label {
  font-size: 1.2rem;
}

.hide {
  display: none;
}

.form-group{
  font-size: 1.2rem;
}

.timer {
  position: absolute;
  right: 3rem;
  top: 0rem;
  background-color: none;
  padding: .5rem;
}

.timer p {
  font-size: 1.8rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.instructions {
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.instructions h4 {
  
  margin-bottom: 1.5rem;
}

.instructions p {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 3rem;
}

.submit-exam-box {
  float: right;
  margin-right: 10.8rem;
  transform: translateY(-1rem);
}



.overlay-mf {
  background-color: black;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
}

.container{
  z-index: 1000;
}

@keyframes animate{
  from {
    color: orange;
    font-size:  x-large;
  }

  to {
    color: red;
    font-size: xx-large;
  }
}

.animate1{
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.animate2{
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-duration: .5s;
}

.animate3{
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-duration: .25s;
}

/*--Medium (md) devices (tablets, 768px and up)--*/
@media (max-width: 768px) { 
  .exam-container{
    margin: 1rem;
    margin-top: 1.5rem;
  }

  .timer{
    right: 1rem;
  }

  .question-type{
    margin-left:1rem;
    transform: translateY(1rem);
  }

  .submit-exam-box {
    margin-right: 1.8rem;
    transform: translateY(-2.1rem);
  }
  .style{
    overflow-x: scroll;
    max-width: 50%;
  }
  .style::-webkit-scrollbar {
    background-color: transparent;
  }

  .style::-webkit-scrollbar-track {
    background-color: transparent;
    width: .5px;
  }

  .style::-webkit-scrollbar-thumb {
    background-color: rgb(187, 184, 184);
    width: .5px;
  }
}

/*--Media Queries--*/
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large (xl) devices (large desktops, 1200px and up)
@media (min-width: 1200px) {...}
*/